body {
	background-color: #F3F4F3;
}

#title-row {
	background-color: lightblue;
	padding: 15px 0px;
}

#overview-row {
	padding: 15px 0px;
}

.resource-image {
	width: 100%;
}

#link-row p {
	margin: 0px;
}

#link-row .col-md-4 {
	padding: 15px 15px;
}

p {
	font-family: verdana;
	font-size: 20px;
}



